* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* min-width: 300px; */
  margin-left: 1.5625rem;
  color: black;
  background-color: #ACBED8;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
}

h1,
h2,
h3 {
  color: #2D3F59;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 2.1875rem;
}

h2 {
  text-decoration: underline;
  font-size: 1.625rem;

}

h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
}

hr.header,
hr.footer {
  border-top: 0.1875rem solid black;
}

.header-nav li a {
  text-decoration: none;
}

#home,
#about,
#blog,
#store,
#contact {
  border: 0.0625rem solid;
  padding: 0.625rem;
}

#home:hover,
#about:hover,
#blog:hover,
#store:hover,
#contact:hover {
  background-color: #709EDF;

}

header {
  display: inline-block;
  width: 100%;
  text-align: left;
}

h1.site-title {
  margin-top: 0;
}

.logo {
  margin-right: 0.9375rem;
  border-radius: 50%;
}

.code {
  float: right;
  margin-right: 5%;
  margin-bottom: 1.5625rem;
  height: 18.75rem;
  width: 31.25rem;
}


div.header-logo {
  display: inline;
}

.header-logo img {
  float: left;
  width: 6.25rem;
  height: 6.25rem;
}

header ul li {
  list-style: none;
  display: inline;
  left: 0;
}

div.page_intro_paragraph p {
  margin-left: 1%;
  margin-right: 50%;
}

table {
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  background-color: #709EDF;
  width: 75%;
}

thead {
  background-color: #2D3F59;
}

th {
  padding: 0.625rem;
}

td {
  padding: 0.9375rem;
}



.sign-up {
  min-width: 300px;
  border-radius: 6.25rem / 3.125rem;
  color: #000000;
  margin-top: 3.125rem;
  margin-right: 21.875rem;
  margin-left: 21.875rem;
  margin-bottom: 3.125rem;
  border: 0.1875rem solid #2D3F59;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: #709EDF;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  background-color: #709EDF;
}


  .submit-button {
  color: #ACBED8;
  background-color: #2D3F59;
}


/* ==== Skeuomorphic template for Codecademy lesson ===*/


form button {
  padding: 0.3125rem;
  border: 0.0625rem solid black;
  border-radius: 0.3125rem;
  text-decoration: none;
  box-shadow: 0rem 0.3125rem;
}

form button:hover {
  cursor: pointer;
}

form button:active {
  margin-top: 0.3125rem;
  color: black;
  box-shadow: 0rem 0rem;
}

/* ==== End of template  ===*/

footer .page-footer {
  margin-left: 25rem;
  margin-right: 25rem;
  display: flex;
  flex-direction: row;
  padding-top: 1.5625rem;
}

footer .page-footer ul {
  list-style: none;
}

footer .helpful-links,
footer .brand-map,
footer .social-map {
  padding-left: 1.5625rem;
}

@media only screen and (max-width: 768px) {
  .sign-up,
  form {
    margin: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 768px) {
  footer .page-footer {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    line-height: 3rem ;
  }
}